.App {
    text-align: center;
    font-size: 14px;
}
.App-header {
    background-color: #474959;
}
.text-header {
    color: #A3A6B5 !important;
}
.text-nav {
    color: #FFFFFF99;
}
.text-cont_t {
    color: #2C2E3C;
}
.text-cont_d {
    color: #585A6E;
}